<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<!-- Date format for Destination folder  -->
	<DateFormat>MM-dd-yyyy hhmmss</DateFormat>
	
	<!-- Source Website directory to backup (exclude trailing back-slash) -->
	<SourceDirectory>C:\inetpub\wwwroot\Sitecore8\Website</SourceDirectory>
	
	<!-- Destination directory where backup made (exclude trailing back-slash).  This file DOES NOT need to exist.  It will generate it. -->
	<BackupDirectory>C:\inetpub\wwwroot-backup\Sitecore8</BackupDirectory>
	
	<!-- Typical Sitecore Website paths to exclude from backup process. -->
	<ExcludePaths>"_DEV", "App_Data", "Content", "temp", "upload", "sitecore", "sitecore modules"</ExcludePaths>
</settings>